**.egg-info/
**/__pycache__/
**/node_modules/
**/.make/
**/yarn.lock
**/build/
.idea/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
notebooks/Untitled*.ipynb
out/
venv/
docker/
int_historisch*
package/build/
package/dist/
package/*.egg-info/
**.iml
/analiticcl-evaluation-tool/front/yarn-error.log
