.App {
  margin: 20px;
}

.downloadbutton a,
.downloadbutton a:visited,
.downloadbutton a:hover,
.downloadbutton a:active {
  color: inherit;
}

.code {
  white-space: pre;
  font-family: monospace;
}

.tag-person {
  background-color: #ed8e67 !important;
  border-bottom: 2px solid rgb(0, 0, 255) !important;
}

.tag-firstname {
  background-color: #feab6b !important;
  border-bottom: 2px solid rgb(0, 0, 255) !important;
}

.tag-familyname {
  background-color: #f3e9e7 !important;
  border-bottom: 2px solid rgb(0, 0, 255) !important;
}

.tag-occupation {
  background-color: #9bcfe0 !important;
  border-bottom: 2px solid rgb(0, 0, 255) !important;
}

.tag-material {
  background-color: #48d7f3 !important;
  border-bottom: 2px solid rgb(255, 0, 0) !important;
}

.tag-object {
  background-color: #ace37f !important;
  border-bottom: 2px solid rgb(255, 0, 0) !important;
}

.tag-picture {
  background-color: #80a71a !important;
  border-bottom: 2px solid rgb(255, 0, 0) !important;
}

.tag-currency {
  background-color: #fbbd08 !important;
  border-bottom: 2px solid rgb(255, 0, 0) !important;
}

.tag-animal {
  background-color: #d3dcc8 !important;
  border-bottom: 2px solid rgb(255, 0, 0) !important;
}

.tag-streetname {
  background-color: #a4bfd1 !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-place {
  background-color: #7c7b89 !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-region {
  background-color: #788b89 !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-country {
  background-color: #d7a0c5 !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-room {
  background-color: #40eb79 !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-location {
  background-color: #7940eb !important;
  border-bottom: 2px solid rgb(0, 255, 0) !important;
}

.tag-property {
  background-color: #dfb751 !important;
  border-bottom: 2px solid rgb(238, 204, 10) !important;
}

.tag-category {
  background-color: #e975a2 !important;
  border-bottom: 2px solid rgb(238, 204, 10) !important;
}

.tag-quantifier {
  background-color: #f2bd88 !important;
  border-bottom: 2px solid rgb(238, 204, 10) !important;
}

.tag-ambiguous {
  background-color: #f7f4f1 !important;
  border: 1px solid rgb(19, 19, 18) !important;
}
